/* HTMX 로딩 인디케이터 스타일 */
.htmx-indicator {
    opacity: 0;
    transition: opacity 200ms ease-in;
}

.htmx-request .htmx-indicator {
    opacity: 1;
}

.htmx-request.htmx-indicator {
    opacity: 1;
}

[x-cloak] {
    display: none !important;
}

/* 스크롤바를 숨기고 스크롤은 유지 */
html,
body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge 구버전 */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 0;
    height: 0;
}
